.main-input-output
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: black 1px solid;
}

.main-input-output-box
{
    background-color: rgba(0, 0, 0, 0.124);
    box-sizing: content-box;
    width: 80%;
    height: 1024px;
    word-wrap: break-word;
    inline-size: 40%;
    border: black 1px solid;
    color: white;
    padding: 5px;
}

.main-input-output-buttons
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    height: 300px;
}

.main-input-output-btn
{
    transition: all 0.5s;

    height: 75px;
    width: 200px;
    margin: 15px 10px;
    padding: 20px;
    text-align: center;

    background-color: rgb(127, 126, 126);
    border: black 1px solid;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;


}

.main-input-output-btn:hover
{
    transform: scale(1.05);
    background-color: rgb(62, 61, 61);
}

.indent
{
    margin-left: 5%;
}

#upload-file {
    display: none;
}

​